.popup-container {
	text-align: center !important;
	align-items: center !important;
	width: 200px !important;
	font-size: 1.3rem;

	.popup-close-icon {
		cursor: pointer;
		color: #992a84;
		font-size: 2rem !important;
		padding-top: 5px;
		margin-right: 0px;
		float: right;
	}

	.popup-image {
		display: inline-block !important;
		margin: 15px -20px 15px 15px;
	}

	.to-favorites-button {
		font-size: 2.5rem !important;
		background: #4ac5bc !important;
		color: white !important;
		padding: 10px 40px 5px 40px !important;
		margin: 30px 20px !important;
	}
}
