$white: #fff;
$primary: #992a84;
$slider-max-height: 450px;

.home-wrapper {
	.top-title {
		margin-bottom: 240px;
	}

	.ui.medium.image.subhead__title__img {
		object-fit: cover;
		width: 300px;
		height: 300px;
	}
	.ui.small.image.subhead__title__img {
		object-fit: cover;
		width: 240px;
		height: 240px;
	}

	.subhead__title__img > img {
		object-fit: cover;
		width: 100%;
		height: auto;
	}

	.grid__centered {
		width: 70vw;
		margin: -130px auto 64px !important;
		min-width: 1025px;
		.column {
			&.vertically__centered {
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
				&.side_title_image {
					margin-top: -140px;
				}
				.ui.header {
					font-size: 3em;
				}
			}

			&.inverted {
				background: $primary;

				.ui.header {
					color: $white;

					.sub.header {
						color: $white;
					}
				}
			}
		}
	}

	.part2_banner-desktop {
		position: relative;
		width: 70%;
		overflow: auto;
		border: 1px #eee solid;
		border-radius: 1rem;
		margin: auto;

		> img {
			width: 100%;
			height: auto;
		}
	}
	.part2_banner-mobile {
		position: relative;
		width: 90vw;
		overflow: auto;
		border: 1px #eee solid;
		border-radius: 1rem;
		margin: auto;

		> img {
			width: 100%;
			height: auto;
		}
	}
	.cat-img.cat-img {
		position: absolute;
		left: 9%;
		margin-top: -150px;
		width: 95px;
		z-index: 9;
		height: auto;
		@media only screen and(min-width: 1025px) {
			left: 7%;
			margin-top: -217px;
			width: 135px;
		}
	}

	.categories-div {
		.categories-grid {
			margin: 0 auto;
			@media only screen and(min-width: 1025px) and (max-width: 1200px) {
				width: 93%;
				margin-right: 6.25%;
			}
			.categories-grid-column {
				.categories-image {
					width: 120px;
					object-fit: cover;
					@media only screen and(min-width: 350px) {
						width: 120px;
						height: 120px;
					}
					@media only screen and(min-width: 600px) {
						width: 220px;
						height: 220px;
					}
					@media only screen and(min-width: 1200px) {
						width: 250px;
						height: 250px;
					}
				}
				.categories-header {
					white-space: nowrap;
					width: auto;
					overflow: hidden;
					margin: 1rem auto;
					text-overflow: ellipsis;
				}
			}
		}
	}

	.sliders-div {
		width: 100%;
		margin: 40px 0 20px 0;
	}
	.part9_part6banner {
		margin: 10rem auto !important;
		width: 90%;

		img {
			height: auto;
			width: 100%;
		}
	}

	.part8-banner-grid {
		width: 100%;
		margin: 0;
		padding: 0;

		.row,
		.column {
			padding: 0 !important;
			margin: 0;
			text-align: center;
		}
		.column {
			margin: 0 !important;
			display: flex !important; // override default inline-block display style.
			align-items: center;
			justify-content: center;
		}
		.column > img {
			width: auto;
		}
	}

	@media (max-width: 768px) {
		.ui.embed {
			height: 40vw !important;
		}
	}
	.top-slider-mobile {
		width: 90vw;
		height: auto;
		min-height: 300px;
		margin: 10px auto;
	}
	.main-buttons {
		.row {
			padding-top: 0;
			padding-bottom: 20px;
			a {
				margin: auto;
				width: 100%;
				height: auto;
				img {
					width: 100%;
					height: auto;
					object-fit: cover;
					max-height: 175px;
					border-radius: 15px;
				}
			}
			.text-wrapper {
				display: flex;
				align-items: center;
			}
			.text-buttons {
				color: white;
				font-size: 8.8vw;
				position: absolute;
				font-family: NofshonitHeaderFont;
				width: 80%;
				left: 13%;
				line-height: normal;
				padding-top: 4%;
			}
		}
	}
}
