.conversation-wrapper {
	position: relative;
	padding: 5px 10px;
	width: 100%;
	overflow: hidden;
	height: 80px;
	background-color: #18192e;
	display: inline-flex;
	cursor: pointer;

	.ui.avatar {
		margin: 0.3em;
		width: 3.2em;
		height: 3.2em;
	}
	.conv-details-wrapper {
		display: inline-flex;
		width: 90%;
		height: 100%;
		padding: 3.5% 0;
		border-bottom: solid 1px rgba(150, 148, 148, 0.384);

		.conv-name-and-last-message {
			padding: 0 10px;
			height: 100%;
			width: 80%;
			color: white;
			align-items: center;

			.conv-name {
				font-size: 1.3em;
				color: #91cdfd;
			}

			.last-message {
				&.rtl-message {
					direction: rtl;
					text-align: right;
				}

				&.ltr-message {
					direction: ltr;
					text-align: left;
				}
			}
		}

		.conv-time-seen-and-mute {
			color: white;
		}
	}

	&.selected {
		background-color: #969696;
	}
}
