.conversation-wrapper {
	position: relative;
	padding: 5px 10px;
	width: 100%;
	overflow: hidden;
	height: 80px;
	background-color: #18192e;

	.conv-profile-img-wrapper {
		position: relative;
		padding: 3% 0;
		float: left;
		width: 10%;
		height: 80%;
		.circular-image-wrapper {
			border-radius: 50%;
			overflow: hidden;
			.conv-profile-img {
				width: 100%;
				height: auto;
				object-fit: contain;
			}
		}
	}
	.conv-details-wrapper {
		position: flex;
		width: 90%;
		height: 100%;
		float: right;
		padding: 3.5% 0;
		border-bottom: solid 1px rgba(150, 148, 148, 0.384);

		.conv-name-and-last-message {
			position: flex;
			padding: 0 10px;
			height: 100%;
			width: 80%;
			color: white;
			align-items: center;

			.conv-name {
				font-size: 1.3em;
				color: #91cdfd;
			}
		}
	}

	&.selected {
		background-color: #969696;
	}
}
