$computerBreakpoint: 1025px;

.terms-mobile-main-container {
	@media screen and(min-width: #{$computerBreakpoint}) {
		padding: unset;

		.editor-message {
			max-width: 900px;
			margin: auto;
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
	.terms-desktop-wrapper {
		position: relative;
		.desktop-background-image {
			position: absolute;
			z-index: -5;
			top: -15px;
			width: 100%;
			> img {
				width: 100%;
				height: auto;
			}
		}
		.desktop-editor-message {
			position: relative;
			top: 60vh;
			padding-bottom: 60vh;
			background-color: white;
			@media screen and(min-width: 1400px) {
				top: 70vh;
				padding-bottom: 70vh;
			}
		}
	}
	// Define the h1 size only for mobile
	@media screen and(max-width: #{$computerBreakpoint}) {
		h1 {
			font-size: 2.2rem !important;
			margin-bottom: 15px !important;
		}
	}

	.mobile-terms-header-div {
		.mobile-background-image {
			z-index: -5;
		}
		.main-mobile-container {
			margin-top: -10px;
			background-color: white;
			border-radius: 16px;
			margin-left: 0px !important;
			margin-right: 0px !important;
			padding: 25px 30px;
		}
	}
}
