.gosAue {
	min-height: unset !important;
}
.top-tag-div {
	.top-tag-mobile {
		margin: -3rem auto 1rem auto !important;
	}

	.top-tag-segment {
		margin: 0 auto 5rem auto !important;
		@media only screen and(min-width: 1025px) {
			width: 80%;
		}
		.tag-image {
			width: 160px;
			height: 160px;
			object-fit: cover;
			object-position: left;
			@media only screen and(min-width: 1025px) {
				width: 270px;
				height: 270px;
			}
		}
		.tag-header {
			text-align: center;
			margin: 15px 0 0;
			&::before {
				content: none !important;
			}
			.sub {
				width: 80%;
				margin: auto;
				@media only screen and(min-width: 1025px) {
					width: 60%;
				}
			}
		}
	}
	.btn-container {
		margin-bottom: 5rem;
		margin-top: -2rem;
		.all-btn {
			width: 250px;
			max-width: 250px;
			background-color: #992a84;
			color: white;
			font-size: 2rem;
			height: 50px !important;
			.sub.header {
				color: $white;
			}
		}
	}
}
.rec-slider-container {
	margin: 0 !important;
	.rec-item-wrapper {
		width: 100%;
		.carousel-slider-item {
			width: 100%;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
}
