.CustomCheckbox {
	.html-checkbox {
		margin: -5px 12px 0 0;
		line-height: 2;
		cursor: pointer;
		a {
			color: #992a84;
			-webkit-text-decoration-line: underline;
			-webkit-text-decoration-color: #992a84;
			text-decoration: underline #992a84;
			@media only screen and(min-width: 1025px) {
				color: white;
				text-decoration: underline white;
			}
		}
		width: 75%;
		@media screen and (max-width: 1420px) {
			width: 100%;
		}
	}
}
.newsletter-container {
	width: 100%;
	.responsive-wrapper-mobile {
		width: 100%;
		text-align: center;
	}
}
