.sidebar-pushable {
	margin-bottom: 0 !important;
	transform: none !important;
	overflow: visible !important;
	border: 0 !important;
	.sidebar {
		overflow: visible !important;
		.sticky-div {
			position: -webkit-sticky;
			position: sticky;
			top: 3px;
		}
	}
	.top-icons-bar {
		.favorites-icon-div {
			display: inline-block;
			margin-right: 15px;

			.favorites-link-label {
				min-width: 1.7em !important;
				min-height: 1em !important;
				padding: 0.3em !important;
				border-radius: 400rem !important;
				font-size: 0.87rem !important;
				z-index: 100 !important;
				top: 0.85em !important;
				left: 73% !important;
			}
		}
	}
}
