.image-selection-wrapper {
	padding-bottom: 20px;
	.title-text {
		margin: auto;
		width: 70%;
		padding: 15px 0;
		color: #8dc8f8;
		font-size: 2.2rem;
	}
	.images-wrapper {
		border: solid 1px #8dc8f8;
		width: 70%;
		margin: auto;
		text-align: center;
	}
}
