.newsletterinputdesktop-input-form-field {
	::placeholder {
		color: #fff !important;
		opacity: 1;
	}
	:-ms-input-holder {
		color: #fff !important;
	}
	::-ms-input-placeholder {
		color: #fff !important;
	}
	.newsletterinputdesktop {
		> input {
			border-bottom: 2px solid #fff !important;
			color: #fff !important;
			background: none !important;
		}
	}
}
.date-input {
	opacity: 1 !important;
	> input {
		opacity: 1 !important;
	}
}
.iphonePinkColor {
	> input {
		color: darken($color: #992a84, $amount: 20) !important;
	}
}
