.custom-form-select {
	.error.error.error {
		color: #ff8f00 !important;
		border-color: #ff8f00 !important;
	}
	.select-mobile {
		border: none !important;
		border-bottom: 2px solid #992a84 !important;
		border-radius: 0 !important;
		padding-right: 0 !important;
		color: #992a84 !important;
		font-size: 17px !important;
		font-family: NofshonitTextFont;
		background-color: white !important;
		-moz-appearance: none !important; /* Firefox */
		-webkit-appearance: none !important; /* Safari and Chrome */
		appearance: none !important;
	}
	select {
		-moz-appearance: none !important; /* Firefox */
		-webkit-appearance: none !important; /* Safari and Chrome */
		appearance: none !important;
	}
	select:focus {
		outline: none !important;
	}
	.chevron {
		color: #992a84;
		top: 5px;
		left: 10px !important;
	}
	.container.container {
		margin: 0 !important;
	}
}
