.recover-code-div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@media only screen and(min-width: 1025px) {
		width: 65%;
		margin: auto;
	}
	.header:not(:first-child):before {
		height: 3px !important;
	}
	.code-recover-form {
		min-width: 270px !important;
	}
	.recover-cant-recover-div {
		text-align: center;
		padding-top: 55px;
		@media only screen and(max-width: 1024px) {
			padding-top: 120px;
			width: 97%;
		}

		> span {
			color: #992a84;
		}
	}
}
