.custom-page-background-title-wrapper {
	position: relative;
	.custom-header-wrapper {
		position: relative;
		display: block;
		width: fit-content;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: -o-fit-content;
		width: -khtml-fit-content;
		padding-top: 120px;
	}
	.background-round-image-div-base-absolute {
		position: absolute;
		overflow: hidden;
		z-index: -5;
		top: 0;
		left: 0;
		width: 75%;
		max-width: 1720px;
		@media screen and (min-width: 1025px) {
			width: 85%;
		}
		@media screen and (min-width: 1200px) {
			width: 80%;
		}
		@media screen and (min-width: 1265px) {
			width: 80%;
		}
		@media screen and (min-width: 1400px) {
			width: 80%;
		}
		@media screen and (min-width: 1600px) {
			width: 78%;
		}
		.background-round-image-div-base-relative {
			position: relative;
			overflow: hidden;
			border-radius: 65%;
			left: -150px;
			top: -340px;

			@media screen and (min-width: 1265px) {
				top: -420px;
				left: -160px;
			}
			@media screen and (min-width: 1300px) {
				left: -180px;
			}
			.background-round-image-div-pusher-absolute {
				position: relative;
				width: 120%;
				top: 210px;
				left: 185px;
				@media screen and (min-width: 1300px) {
					left: 210px;
				}
				@media screen and (min-width: 1650px) {
					left: 230px;
				}
			}
		}
		&.benefit-page-background {
			position: absolute;
			overflow: hidden;
			z-index: -5;
			top: 0;
			left: 0;
			width: 75%;
			@media screen and (min-width: 1025px) {
				width: 85%;
			}
			@media screen and (min-width: 1200px) {
				width: 80%;
			}
			@media screen and (min-width: 1265px) {
				width: 80%;
			}
			@media screen and (min-width: 1400px) {
				width: 80%;
			}
			@media screen and (min-width: 1600px) {
				width: 78%;
			}
			.background-round-image-div-base-relative {
				position: relative;
				overflow: hidden;
				border-radius: 65%;
				left: -230px;
				top: -440px;
				@media screen and (min-width: 1265px) {
					top: -470px;
					left: -240px;
				}
				@media screen and (min-width: 1300px) {
					top: -470px;
					left: -280px;
				}
				@media screen and (min-width: 1370px) {
					top: -470px;
					left: -280px;
				}
				@media screen and (min-width: 1450px) {
					top: -490px;
					left: -320px;
				}
				@media screen and (min-width: 1500px) {
					top: -520px;
					left: -330px;
				}
				@media screen and (min-width: 1609px) {
					top: -500px;
					left: -330px;
				}

				.background-round-image-div-pusher-absolute {
					position: relative;
					width: 120%;
					top: 210px;
					left: 255px;
					@media screen and (min-width: 1110px) {
						left: 230px;
					}
					@media screen and (min-width: 1300px) {
						left: 300px;
					}
					@media screen and (min-width: 1450px) {
						left: 360px;
					}
					// @media screen and (min-width: 1450px) {
					// 	left: 300px;
					// }
					@media screen and (min-width: 1650px) {
						left: 385px;
					}
				}
			}
		}
	}
}
