$primary: #992a84;

.custom-common-questions {
	padding: 100px 30px 30px;
	@media only screen and(min-width: 1025px) {
		background-color: #f9f2f8;
		padding: 70px 200px;
	}
	.question-header.question-header {
		color: $primary;
		font-size: 3.5rem;
		@media only screen and(max-width: 1024px) {
			color: black;
			width: fit-content;
			width: -webkit-fit-content;
			width: -moz-fit-content;
			width: -o-fit-content;
			width: -khtml-fit-content;
			margin-bottom: 20px;
			border-bottom: $primary 2px solid;
		}
	}
	.accordion {
		.accordion-title.accordion-title {
			font-size: 1.1rem !important;
			display: flex;
			align-items: center;
			justify-content: space-between;
			@media only screen and(min-width: 1025px) {
				color: $primary !important;
				font-weight: bold;
			}
			.accordion-icon {
				width: auto;
				height: auto;
				@media only screen and(min-width: 1025px) {
					color: $primary;
					right: 98%;
				}
			}
		}
		.html-message {
			color: gray;
			font-size: 1.1rem;
			@media only screen and(min-width: 1025px) {
				color: $primary;
			}
			&.common-question-answer {
				width: 90%;
				@media only screen and(min-width: 1025px) {
					width: 70%;
				}
			}
		}
		.accordion-divider.accordion-divider {
			border-top: none;
			border-color: gray;
			margin-top: 0;
			@media only screen and(min-width: 1025px) {
				border-color: $primary;
				margin-top: 15px;
			}
		}
	}
	.contact-segment.contact-segment {
		padding: 50px 0;
		margin: 0;
		box-shadow: none;
		@media only screen and(min-width: 1025px) {
			background-color: #f9f2f8 !important;
		}
		.contact-btn {
			width: 175px;
		}
	}
}
