.recover-password-wrapper {
	padding: 10px 80px;

	.ui.input {
		input {
			background-color: transparent !important;
			color: wheat !important;
			border: solid 1px #8dc8f8;
			border-radius: 15px;
			font-size: 2.2rem !important;
		}
	}

	.error-input {
		.ui.input {
			input {
				border: solid 1px #ff0000 !important;
			}
		}
	}

	.error-text {
		color: #ff0000;
		font-size: 2.2rem;
	}

	button {
		font-size: 2.5rem !important;
		width: 50% !important;
	}
}
