.user-profile-inner-wrapper {
	position: relative;
	display: flex;
	width: 100%;
	padding: 0 10px;

	.ui.avatar {
		object-fit: cover;
		margin: 0.3em;
		width: 3.2em;
		height: 3.2em;
	}

	.user-username {
		padding-left: 15px;
		color: #8dc8f8;
		font-size: 1.5rem;
		padding-top: 18px;
	}
}
