.left-sidebar-wrapper {
	overflow: auto;
	height: 100%;
	.left-sidebar-top-bar-wrapper {
		background-color: #18192e;
		border-right: solid 1px #91ccfd4d;
		border-bottom:solid 1px #91ccfd4d ;
		position: relative;
		display: flex;
		justify-content: space-between;

		.user-profile-wrapper {
			position: relative;
			display: flex;
		}
	}

	.conv-search-wrapper {
		padding: 5px 10px;
		background-color: #18192e;
		.ui.input {
			> input {
				background-color: #18192e;
				color: white;
				border-radius: 16px;
				border: solid 1px #91cdfd;
			}
		}
	}

	.conversations-list-wrapper {
		position: relative;
		overflow-y: scroll;
		padding-right: 5px;
		max-height: 85vh;

		.not-found-message{
			width: 100%;
			color:#91cdfd;
			font-size: 1.5rem;
			text-align: center;
			padding-top: 20px;
		}
	}
}
