.left-sidebar-wrapper {
	overflow: auto;
	.left-sidebar-top-bar-wrapper {
		background-color: #0d3628;
		border-right: solid 1px #1852269c;
		position: relative;
		display: flex;
		justify-content: space-between;

		.user-profile-wrapper {
			position: relative;
			display: flex;
		}
	}

	.conv-search-wrapper {
		padding: 5px 10px;
		background-color: #18192e;
		.ui.input {
			> input {
				border-radius: 16px;
			}
		}
	}

	.conversations-list-wrapper {
		position: relative;
		overflow-y: scroll;
		padding-right: 5px;
		max-height: 85vh;
	}
}
