$blockUiPrimaryColor: '#992a84';

.block-ui-container {
	.loading-bullet {
		color: #{$blockUiPrimaryColor};
		font-size: 3.7em;
	}
	.block-ui-message-container {
		position: fixed;
		top: 50% !important;
	}
}
