@mixin ie-text-align-right() {
	@supports (-ms-ime-align: auto) {
		/* Microsoft EdgeV13&14 CSS styles go here */
		text-align: right;
	}
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		/* IE10 & IE11 CSS styles go here */
		text-align: right;
	}
}

@mixin ie-width-100-vw() {
	@supports (-ms-ime-align: auto) {
		/* Microsoft EdgeV13&14 CSS styles go here */
		width: 100vw !important;
	}
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		/* IE10 & IE11 CSS styles go here */
		width: 100vw !important;
	}
}

// IE puts a X for clearing the input text, we added this css to cancel it.
input::-ms-clear {
	display: none !important;
}
