$primaryColor: '#234234';

.swal2-actions > button.swal2-confirm {
	border: 2px solid $primaryColor;
	width: 8rem;
}
.swal2-actions > button.swal2-cancel {
	background-color: transparent;
	border: 2px solid $primaryColor;
	color: $primaryColor;
	width: 8rem;
}
.swal2-actions > button.swal2-confirm,
.swal2-actions > button.swal2-cancel {
	&:hover {
		background-image: none;
	}
	&:focus {
		box-shadow: none;
	}
}
