.mobile-main-gifts-container {
	.menu-container-not-logged-in {
		.ui.sticky.bound.bottom {
			top: 66px;
		}
	}

	.menu-container-logged-in {
		.ui.sticky.bound.bottom {
			top: 113px;
		}
	}

	.categories-div {
		padding-top: 65px;
		.search-grid {
			margin: 0;
			text-align: center;
		}
	}

	.menu-text {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 85px;
	}

	.menu-divider {
		border-left: 1px solid lightgray;
	}

	.more-div {
		display: flex;
	}

	.pagination-segment {
		.inner-pagination {
			margin: auto !important;
		}
	}
}

.mobile-main-filters-div-container {
	padding-bottom: 100px;
}
