.popular-categories-container {
	width: 70%;
	margin: auto !important;
	box-shadow: none !important; // for IE
	.segment-header {
		text-align: center;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin-top: 0;
		width: 100%;
	}
	.segment-header::before {
		height: 0 !important;
	}
	.inner-segment {
		min-height: 220px !important;
		margin: 0rem 1rem;
		cursor: pointer;
	}
	.main-grid {
		width: 80rem;
	}

	.popular-enlarge-desktop {
		.inner-segment {
			transition: all 0.2s ease-in-out;
			&:hover {
				transform: scale(1.1);
			}
			.ui.circular.image {
				margin: 15px auto;
			}
		}
	}
}
