.chat-input-wrapper {
	position: absolute;
	bottom: 0px;
	width: 100% !important;
	height: 7%;
	padding: 8px;
	background-color: #18192e;
	border-left: solid 1px #191b46;
	.ui.input {
		width: 100%;
		input {
			width: 100%;
			border-radius: 25px !important;
			background-color: #18192e;
			color: wheat;
			border: solid 1px #8dc8f8;
		}

		&.rtl-input {
			input {
				direction: rtl;
				text-align: right;
			}
		}
		&.ltr-input {
			input {
				direction: ltr;
				text-align: left;
			}
		}
	}
}
