// * All the '!important' statments are for overriding the Semantic-Ui defaults

.ui.modal.main-modal-wrapper {
	border-radius: 16px;
	width: 50%;
	min-width: 640px;
	background-color: #18192e !important;
	border: solid 1px #8dc8f8 !important;
	border-radius: 16px;
	color: white !important;
	padding: 0 !important;
	overflow: hidden;

	&.fitcontentmodal {
		width: fit-content !important;
		width: -moz-fit-content;
	}

	&.widerdesktopmodal {
		width: 85%;
	}

	.close-icon {
		color: #8dc8f8 !important;
		cursor: pointer !important;
		padding-top: 2% !important;
		padding-left: 2% !important;
		padding-bottom: 2% !important;
	}

	.content {
		padding: 0 !important;
		height: 100% !important;
		background-color: #202020;

		&.overflowscroll {
			overflow-y: auto !important;
			overflow-x: hidden !important;
		}

		.ui.container {
			background-color: transparent;
			min-height: 50vh;

			&.paddingbottom75 {
				padding-bottom: 75px !important;
			}

			.modal-header-segment {
				max-width: 100% !important;
				color: #8dc8f8 !important;
				margin-top: -40px;
				padding: 25px 0;

				.modal-header {
					color: #8dc8f8;
					background-color: transparent;
					width: auto !important;
					text-align: center !important;
					margin: auto !important;
				}
			}
			.inner-content-wrapper {
				text-align: center;
				padding: 0 6%;
				height: 100%;
				overflow: auto;

				input {
					padding: 10px;
					border-radius: 25px;
					font-size: 18px;
					width: 100%
				}

				button {
					font-size: 22px;
					padding: 10px 30px;
					border-radius: 25px;
					width: 40%;
				}
			}
		}
	}
}
