$primary: #992a84;

.implement-gift-div {
	.header-div {
		background-color: $primary;
		.headear {
			color: white;
			padding: 30px 0;
		}
	}
	.search-banner-div {
		@media screen and (min-width: 1025px) {
			width: 90%;
			margin: auto;
			padding: 50px 0 150px;
		}
		.center-message {
			padding: 40px 0 15px;
		}
		.mobile-search {
			font-size: 1.25rem;
			border: 0;
			border-bottom: 1px solid white;
			width: fit-content;
			width: -webkit-fit-content;
			width: -moz-fit-content;
			width: -o-fit-content;
			width: -khtml-fit-content;
			margin: auto;
			padding: 0 10px 3px;

			i {
				margin-left: 10px;
			}
		}
		.border-radius-up {
			.pink {
				border-top-left-radius: 20px;
				border-bottom-left-radius: 20px;
			}
			img {
				border-top-right-radius: 20px;
				border-bottom-right-radius: 20px;
			}
		}
		.space-between {
			margin: 50px 0;
		}
		.border-radius-down {
			.purple {
				border-top-right-radius: 20px;
				border-bottom-right-radius: 20px;
			}
			img {
				border-top-left-radius: 20px;
				border-bottom-left-radius: 20px;
				min-height: 440px;
			}
		}

		.ig-banner-text {
			padding: 25px;
			padding-left: 20%;
			padding-right: 20%;
		}
	}
}
