.form-wrapper {
	padding: 10px 80px;

	.ui.input {
		input {
			width: 100%;
			border-radius: 25px !important;
			background-color: #202020;
			color: wheat;
			border: solid 1px #8dc8f8;

			&:focus {
				background-color: #202020;
				color: wheat;
			}
		}
	}

	button {
		margin: 20px 0 !important;
		width: 80% !important;
		font-size: 2.2rem !important;
	}
}
