$white: #fff;
$primary: #992a84;
$pink: #ed207a;

.part8-banner-link {
	background-color: $white;
	padding: 0.6rem 2rem;
	border-radius: 2rem;
	font-size: 1.2rem;
	margin: auto;
}
.primary-color {
	color: $primary;
}
.pink-color {
	color: $pink;
}
