.login-or-cancel-div {
	text-align: center;
	.inline-segment {
		width: min-content;
		@media only screen and(min-width: 1025px) {
			width: auto;
		}
		.login-or-cancel-btn {
			width: 185px !important;
			margin: 15px 0 0 !important;
			@media only screen and(min-width: 1025px) {
				margin: 0 1rem !important;
			}
		}
	}
}
