.message-line {
	display: inline-block;
	width: 100%;
	.chat-message {
		display: block;
		position: relative;
		max-width: 80%;
		color: white;
		text-align: right;
		border-radius: 16px;
		white-space: pre-wrap;
		word-wrap: break-word;
		font-size: 1.5rem;
		padding: 20px;

		&.other-message {
			background-color: black;
			float: left;
		}

		&.user-message {
			background-color: #113655;
			float: right;
		}

		.message-wrapper {
			display: inline-flex;

			&.rtl-message {
				direction: rtl;
				text-align: right;
			}

			&.ltr-message {
				direction: ltr;
				text-align: left;
			}
		}
		.message-time {
			color: #c9c9c9;
			font-size: 0.9rem;
		}
	}
}
