$primary: #992a84;

.mobile-send-gifts-container {
	.card-image {
		width: 100%;
		height: auto;
		margin-bottom: 30px;
		img {
			width: 100%;
			height: auto;
		}
	}
	.card-wrapper {
		padding-top: 20px !important;
		width: 100% !important;
		bottom: 40px;
		margin: 0 !important;
		border-radius: 12px !important;
		padding: 0 15px;
		.card-header {
			padding: 10px 10px;
			width: 70%;
			.sub.header {
				width: 125%;
			}
		}
		.price-header {
			font-size: 3rem;
			padding: 10px 0;
			position: absolute;
			display: flex;
			align-items: baseline;
			width: fit-content;
			left: 5%;
			top: 3.75%;
			margin: 0;
			.coin-text {
				font-size: 1.3rem;
				font-family: NofshonitTextFont !important;
			}
		}
		.card-content {
			padding-top: 40px;
		}
	}

	.mobile-payment-div {
		.back-and-payment-card {
			margin: 50px auto;
			width: 80%;
			.payment-card {
				margin: 10px auto 50px;
				display: flex;
				padding: 5px;
				border-radius: 20px;
				background-color: #f9f2f8;
				.card-header {
					width: 60%;
					margin: 12px;
					font-weight: bold;
					letter-spacing: 0.7px;
					.card-sub-header {
						width: 150%;
						padding-top: 10px;
					}
				}
				.price-header {
					font-size: 3rem;
					position: absolute;
					display: flex;
					align-items: baseline;
					width: fit-content;
					left: 15%;
					margin: 7px 5px;
					.coin-text {
						font-size: 1.3rem;
						font-family: NofshonitTextFont !important;
					}
				}
			}
		}
	}
	.submit-div {
		width: 95%;
		margin: 30px auto;
		text-align: center;
		img {
			margin-bottom: 20px;
			width: 50px;
			height: auto;
		}
		.share-div {
			padding-bottom: 20px;
		}
		.submit-header {
			border-bottom: 2px solid #992a84;
			color: #992a84;
			display: initial;
			font-size: 2.5rem;
			width: fit-content;
			width: -webkit-fit-content;
			width: -moz-fit-content;
			width: -o-fit-content;
			width: -khtml-fit-content;
			margin-bottom: 20px;
		}
		.submit-sub-header {
			margin: 10px 0 30px;
		}
		.conclusion-div {
			font-weight: bold;
			text-align: start;
			font-size: 1.2rem;
		}
		.submit-card {
			margin: 20px auto 50px;
			display: flex;
			text-align: start;
			padding: 5px;
			border-radius: 20px;
			background-color: #f9f2f8;
			.card-header {
				width: 60%;
				margin: 12px;
				font-weight: bold;
				letter-spacing: 0.7px;
				.card-sub-header {
					width: 150%;
				}
			}
			.price-header {
				font-size: 3rem;
				position: absolute;
				left: 12%;
				margin: 7px 5px;
				display: flex;
				align-items: baseline;
				width: fit-content;
				.coin-text {
					font-size: 1.3rem;
					font-family: NofshonitTextFont !important;
				}
			}
		}
		.sumbit-continue.sumbit-continue {
			margin: 15px 0 50px;
			padding-top: 0;
			.sumbit-continue-btn {
				letter-spacing: 0.5px;
				width: 250px;
				max-width: 250px;
				background-color: $primary;
				color: white;
				font-size: 2rem;
				height: 50px;
			}
		}
	}
	.top-tag {
		.bag-img {
			position: absolute;
			left: 0;
			margin-top: -150px;
		}
	}
}
