.variant-benefit-page {
	width: 48% !important;
	margin: auto;
	@media screen and (max-width: 1024px) {
		width: 100% !important;
		.variant-col {
			padding-left: 0 !important;
			padding-right: 0 !important;
			width: 100% !important;
		}
	}
	.variant {
		margin-top: 20px !important;
		width: 33vw !important;
		min-height: 16.5vw;

		.first-header {
			padding-top: 30px !important;
		}
		.variant-title {
			flex-grow: 0 !important;
		}

		.main-benefit-variant-content {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			&::after {
				display: none !important;
			}
		}

		.price-btn-div {
			margin-bottom: 0;
			.price-range-div {
				float: right;
				margin-top: 25px;
				font-family: NofshonitHeaderFont !important;
				font-size: 3.2rem;
				display: initial;
				color: #992a84;
				display: flex;
				align-items: baseline;
				.coin-text {
					font-size: 1.5rem;
					font-family: NofshonitTextFont !important;
				}
			}
		}
	}
	.variant-mobile {
		margin-top: 20px !important;
		width: 100%;
		.first-header {
			padding-top: 30px !important;
		}
		.price-btn-div {
			.price-range-div {
				float: right;
				margin-top: 25px;
				font-family: NofshonitHeaderFont !important;
				font-size: 3.2rem;
				display: initial;
				color: #992a84;
				display: flex;
				align-items: baseline;
				.coin-text {
					font-size: 1.5rem;
					font-family: NofshonitTextFont !important;
				}
			}
		}
	}
}
