.editor-message {
	h2,
	h3 {
		font-family: NofshonitHeaderFont;
	}
	&.line-height-20px {
		line-height: 20px;
	}
	&.white-text {
		color: white;
		> a {
			color: white;
		}
	}
	&.white-link {
		a {
			color: white;
			text-decoration: underline white;
		}
	}
	&.pci-messages {
		padding-right: 15px;
	}
}
