.add-gift-div {
	padding: 0 50px;
	@media only screen and(min-width: 1500px) {
		padding: 0 180px;
	}
	.header {
		text-align: center;
		@media only screen and(min-width: 1025px) {
			padding: 70px 10px 20px 0;
			text-align: start;
			@include ie-text-align-right();
			font-weight: bold !important;
			padding-bottom: 5px !important;
			font-size: 1.15rem !important;
			color: #992a84;
			font-family: NofshonitTextFont;
		}
		.sub-header {
			padding-top: 5px !important;
			color: black !important;
			font-weight: normal !important;
		}
	}
	.form {
		.btn-container {
			padding-top: 15px;
			.submit-btn {
				margin: auto;
			}
		}
	}
	.gift-card-img {
		padding-top: 50px;
	}
}
