.variant-card {
	width: 280px !important;
	display: inline-block !important;
	margin-top: 55px !important;
	@media only screen and(max-width: 1024px) {
		margin: 55px 0 0 !important;
	}
	text-align: start;
	@include ie-text-align-right();

	.card-content {
		height: 160px;
		.card-header {
			font-weight: bold;
		}
		.date-header {
			bottom: 35px;
			position: absolute;
			font-family: NofshonitTextFont !important;
			font-size: 1rem;
			opacity: 0.75;
		}
		.price-header {
			bottom: 45px;
			position: absolute;
			left: 10px;
			font-size: 1rem;
			font-family: NofshonitTextFont !important;
			.coin-text {
				font-size: 1.35rem;
			}
			span {
				font-size: 2.5rem;
				font-family: NofshonitHeaderFont !important;
			}
		}
		.status-header {
			bottom: 50px;
			position: absolute;
			left: 20px;
			font-weight: bold;
			font-size: 1.2rem;
			font-family: NofshonitTextFont !important;
		}
		.give-price-header {
			bottom: 70px;
			position: absolute;
			right: 10px;
			font-size: 2.5rem;
			.coin-text {
				font-size: 1.35rem;
				font-family: NofshonitTextFont;
			}
		}
	}
	.second-card-content {
		height: 35px;
		padding: 10px 13px !important;
		.from-header {
			font-family: NofshonitTextFont !important;
			font-size: 1rem;
			white-space: nowrap;
			width: 115px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.date-header {
			position: absolute;
			left: 10px;
			bottom: 9px;
			font-family: NofshonitTextFont !important;
			font-size: 1rem;
			opacity: 0.75;
		}
	}
	.give-second-card-content {
		.give-from-header {
			font-family: NofshonitTextFont !important;
			font-size: 1rem;
			margin-bottom: 0;
			white-space: nowrap;
			width: auto;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.give-date-header {
			font-family: NofshonitTextFont !important;
			font-size: 1rem;
			margin-top: 0;
			opacity: 0.75;
		}
	}
}
