.reset-password-container {
	background: url(/static/images/heart.svg);
	background-repeat: no-repeat;
	background-position-x: 5%;
	background-size: 20em;
	background-position-y: 200%;

	.logo {
		margin-top: 28px;
		text-align: center;
	}

	.logo > img {
		width: 420px;
		height: auto;
		margin: auto;
	}

	.update-password-component {
		margin-top: 2.5em !important;
	}
}
