.top-bar-wrapper {
	position: absolute;
	display: flex;
	width: 100%;
	padding: 1px 10px;
	background-color: #18192e;
	height: 7%;
	z-index: 3;
	top: 0;

	.chat-img-wrapper {
		position: relative;
		padding: 2px 0 1px 0;
		width: 5%;
		height: auto;

		&.default-image {
			width: 4.8%;
		}

		.circular-image-wrapper {
			border-radius: 50%;
			overflow: hidden;
			.chat-img {
				width: 100%;
				height: auto;
				object-fit: contain;
			}
		}
	}
	.conv-name-wrapper {
		padding: 5px;
		font-size: 1.3em;
		color: #8dc8f8;
	}
}
