.top-bar-wrapper {
	position: relative;
	display: flex;
	width: 100%;
	padding: 0 10px;
	background-color: #0d3628;
	height: 7%;

	.chat-img-wrapper {
		position: relative;
		padding: 2px 0 1px 0;
		width: 5%;
		height: auto;
		.circular-image-wrapper {
			border-radius: 50%;
			overflow: hidden;
			.chat-img {
				width: 100%;
				height: auto;
				object-fit: contain;
			}
		}
	}
}
