.main-desktop-navbar-container {
	.divider {
		border-left: 1px solid lightgray;
		margin: 0 15px;
		height: 80%;
	}

	.navbar-menu {
		width: 60%;
		min-height: 50px;
		@media only screen and(min-width: 1160px) {
			width: 65%;
		}

		@media only screen and(min-width: 1275px) {
			width: 70%;
		}
		@media only screen and(min-width: 1150px) {
			margin-right: 20px;
		}
	}

	.desktop-dropdown-container {
		.desktop-gifts-categories {
			transition: all 0.2s ease-in-out;
			&:hover {
				transform: scale(1.1, 1.1);
				.ui.header {
					&.long-header {
						z-index: 1002;
						background-color: white;
						padding-right: 0 !important;
						margin-right: 0 !important;
					}
				}
			}
		}
	}
	.favorites-link-div {
		width: fit-content;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: -o-fit-content;
		width: -khtml-fit-content;
		position: relative;
		border: none;
		.favorites-link-icon {
			cursor: pointer;
			margin: 0px !important;
			font-size: 1.7em;
		}

		.favorites-link-label {
			min-width: 1.9em !important;
			min-height: 1em !important;
			padding: 0.3em !important;
			border-radius: 400rem !important;
			font-size: 0.87rem !important;
			z-index: 100 !important;
			top: -0.5em !important;
			left: 130% !important;
		}
	}

	.desktop-sticky-main-navbar {
		-webkit-box-shadow: 0px 3px 3px 0.5px rgba(0, 0, 0, 0.15) !important;
		-moz-box-shadow: 0px 3px 3px 0.5px rgba(0, 0, 0, 0.15) !important;
		box-shadow: 0px 3px 3px 0.5px rgba(0, 0, 0, 0.15) !important;
	}

	.desktop-dropdown-container {
		.animation-in {
			animation: fade-in 0.25s linear;
		}

		@keyframes fade-in {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
		@-moz-keyframes fade-in {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
		@-ms-keyframes fade-in {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
		@-webkit-keyframes fade-in {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
		@-o-keyframes fade-in {
			0% {
				opacity: 1;
			}
			100% {
				opacity: 0;
			}
		}
	}
}
