.mobile-sidebar-menu {
	.mobile-sidebar-menu-item {
		text-align: start;
		@include ie-text-align-right();
		font-size: 1.2rem;
	}
	.mobile-sidebar-menu-item:hover {
		background-color: #f1f0f0 !important;
	}
	.homepage-link {
		color: #992a84 !important;
		font-weight: bold !important;
	}
}
