@keyframes IEleftToRightToLeft {
	0% {
		left: -660%;
	}
	50% {
		left: 0;
	}
	100% {
		left: -660%;
	}
}
@-moz-keyframes IEleftToRightToLeft {
	0% {
		left: -660%;
	}
	50% {
		left: 0;
	}
	100% {
		left: -660%;
	}
}
@-ms-keyframes IEleftToRightToLeft {
	0% {
		left: -660%;
	}
	50% {
		left: 0;
	}
	100% {
		left: -660%;
	}
}
@-webkit-keyframes IEleftToRightToLeft {
	0% {
		left: -660%;
	}
	50% {
		left: 0;
	}
	100% {
		left: -660%;
	}
}
@-o-keyframes IEleftToRightToLeft {
	0% {
		left: -660%;
	}
	50% {
		left: 0;
	}
	100% {
		left: -660%;
	}
}

.ie-wrapper {
	height: 420px; // defualt for ie
	width: 100%;
	.moving-logo-img-static-div {
		position: relative;
		width: 100%;
		height: 420px; // defualt for ie
		.moving-logo-img-moving-div {
			height: 100%;
			width: 14000px; // defualt for ie
			position: absolute;
			left: 0; // defualt for ie
			top: 0;

			animation: IEleftToRightToLeft 270s linear infinite;
			-moz-animation: IEleftToRightToLeft 270s linear infinite;
			-webkit-animation: IEleftToRightToLeft 270s linear infinite;
			-o-animation: IEleftToRightToLeft 270s linear infinite;
			-khtml-animation: IEleftToRightToLeft 270s linear infinite;

			.moving-logo-img {
				height: 100%;
				width: 100%;
			}
		}
	}
}
