.custom-title-div {
	width: 100%;
	.addition-div {
		background: #992a84;
		height: 45px;
		@media only screen and(max-width: 1024px) {
			display: none;
		}
	}
	.title-container.title-container.title-container {
		height: 16rem;
		background: #992a84;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		clip-path: ellipse(75% 80% at 50% 0%);
		-webkit-clip-path: ellipse(75% 80% at 50% 0%);
		text-align: center;
		margin-bottom: 3rem;
		margin: 0 !important;
		@media only screen and(min-width: 1025px) {
			clip-path: ellipse(51% 90% at 50% 0%);
			-webkit-clip-path: ellipse(53% 80% at 50% 20%);
		}
		.custom-title-header {
			@media only screen and(max-width: 1024px) {
				padding: 10px 0;
			}
		}
	}
	.not-support-clip-path {
		border-bottom-left-radius: 80% 50%;
		border-bottom-right-radius: 80% 70%;
		@media only screen and(min-width: 1025px) {
			border-bottom-left-radius: 50% 80%;
			border-bottom-right-radius: 50% 84%;
		}
	}
}
