.register-container-wrapper {
	padding: 50px 50px 50px 100px;
	height: 100%;
	background-color: #18192e;

	.back-button-wrapper {
		position: relative;
		z-index: 2;
		width: fit-content;
		display: block;
		margin-left: -90px;
		margin-top: -40px;
		margin-bottom: 20px;
		.back-button {
			font-size: 1.5rem;
			.arrow-icon {
				margin-top: -5px;
			}
		}
	}
}
