.more-filters-container {
	text-align: start;
	@include ie-text-align-right();
	.accordion-title {
		font-size: 1.2rem !important;
		padding-right: 1rem !important;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.accordion-icon {
		position: relative;
	}
	.accordion-divider {
		margin: 0;
	}
}
