.solution-total-wrapper {
	.solutions-main-div {
		.solutions-part2-text {
			position: relative;
			width: 25%;
			margin: 0px !important;
			padding-bottom: 30px;
			padding-top: 20px;

			.ui.placeholder {
				direction: inherit;
			}
		}
		.contact-us-div {
			padding-top: 50px;
			.contactus-card {
				border-radius: 20px;
				width: 94%;
			}
		}
	}
	.mobile-solutions-main-div {
		.contactus-divider {
			width: 150%;
			margin-right: -30px;
		}
		.mobile-background-image {
			z-index: -5;
		}
		.mobile-solutions-header {
			font-size: 3rem !important;
			padding-bottom: 0px !important;
			margin-bottom: 0px !important;
		}
		.mobile-header-divider {
			margin-top: 0px;
		}
		.main-mobile-container {
			margin-top: -50px;
			background-color: white;
			border-radius: 16px;
			margin-left: 0px !important;
			margin-right: 0px !important;
			padding: 50px 30px;

			.mobile-part2-text {
				width: 100%;
			}

			.mobile-part3-contactus-wrapper {
				padding: 50px 0px;
				.mobile-contactus-header {
					padding-bottom: 20px;
				}
			}
		}
	}
}
