.add-user-wrapper {
	position: relative;
	display: flex;
	padding: 10px 0;
	margin-top: 10px;

	.ui.avatar {
		width: 3.5em;
		height: 3.5em;
	}

	.username {
		padding: 10px 5px;
		font-size: 1.2rem;
		color: #8dc8f8;
	}

	&:hover {
		border: solid 1px #8dc8f8;
		cursor: pointer;
	}
}
