.change-password-form {
	.ui.input {
		width: 100%;
		padding: 10px;
		input {
			border-radius: 25px !important;
			background-color: #202020;
			color: wheat;
			border: solid 1px #8dc8f8;
		}
	}
	.ui.button {
		padding: 10px;
	}
}
