.change-password-form {
	.ui.input {
		width: 100%;
		padding: 10px;
		input {
			border-radius: 25px !important;
			background-color: #202020;
			color: wheat;
			border: solid 1px #8dc8f8;

			&:focus {
				background-color: #202020;
				color: wheat;
			}
		}

		&.error-show {
			input {
				border: solid 1px #ff0000;
			}
		}
	}
	.ui.button {
		padding: 10px;
	}

	.error-message {
		color: #ff0000;
		font-size: 1.5rem;
		padding-bottom: 10px;
	}
}
